.footer {
  padding: 56px 0;
}

.footer-container {
  @extend %list-align;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-dark);
}
