.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-bottom: 32px;
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color-theme-dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.contact-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: 40px;
  color: var(--secondary-text-color-theme-dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}
