.masters-section {
  background-color: #f7f7f7;
}

.masters-section .title {
  margin-bottom: 44px;
}

.masters {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.masters-card {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.masters-content-wrapper {
  padding: 30px 70px;
}

.masters-name {
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  
  color: var(--secondary-text-color-theme-light);
}

.masters-profession {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}