.privilege {
  display: flex;
}

/* .privilege-right {
  margin-right: 130px;
} */

.privilege-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between;
  align-items: flex-start;
  width: 370px; */
  margin-left: 100px;
  margin-right: 130px;
  width: 370px;
}

.privilege-link {
  flex-basis: calc((100% - 60px) / 2);
  text-align: center;
  min-width: 170px;
  height: 130px;
  background-color: #f7f7f7;
  padding: 20px 20px;

  &:nth-child(even) {
    margin-top: 30px;
    margin-left: 30px;
  }
}

.number-achievements {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-light);
}

.achievements {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
}
