.basic-title-dark {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
  color: var(--secondary-text-color-theme-dark);
}