.form-field {
  display: flex;
  width: 560px;
  justify-content: space-between;
}

.form-message {
  display: flex;
  flex-direction: column;
}

.contact-form-label {
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}

.contact-form-input-mesage {
  width: 560px;
  height: 24px;
  border: none;
  cursor: pointer;
  padding-bottom: 8px;
  margin-bottom: 44px;

  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: rgba(25, 28, 38, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input {
  width: 260px;
  height: 24px;
  border: none;
  cursor: pointer;
  padding-bottom: 8px;
  margin-bottom: 44px;

  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: rgba(25, 28, 38, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-mesage:hover,
.contact-form-input-mesage:focus,
.contact-form-input:hover,
.contact-form-input:focus {
  outline: none;
  background-color: rgba(25, 28, 38, 1);
  border-color: var(--secondary-text-color-theme-dark);
}

.contact-form-input::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}

.contact-form-input::placeholder:hover,
.contact-form-input::placeholder:focus {
  color: var(--secondary-text-color-theme-dark);
}
