.overtitle-dark,
.overtitle-light {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.overtitle-dark {
  color: var(--overtitle-text-color-theme-dark);
  &::before {
    content: "";
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background-color: var(--overtitle-text-color-theme-dark);
  }
}

.overtitle-light {
  color: var(--secondary-text-color-theme-light);

  &::before {
    content: "";
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background-color: var(--secondary-text-color-theme-light);
  }
}
