:root {
  --primary-font-family: Open Sans, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --primary-text-color-theme-dark: #9da4bd;
  --secondary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #555555;
  --secondary-text-color-theme-light: #303030;
  --overtitle-text-color-theme-dark: rgba(157, 164, 189, 0.6);
  --accent-color: #ff6c00;
}

body {
  font-family: var(--primary-font-family);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ====== Start components======= */
.modal-btn-dark {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  /* color: var(--secondary-text-color-theme-dark); */
}

.modal-btn-dark:hover,
.modal-btn-dark:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-theme-dark);
}
.modal-btn-light {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--secondary-text-color-theme-light);
}

.modal-btn-light:hover,
.modal-btn-light:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-theme-dark);
}
.social-links-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-text-color-theme-light);
}

.social-links-list-link:hover,
.social-links-list-link:focus {
  color: var(--accent-color);
}

.overtitle-dark {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--overtitle-text-color-theme-dark);
}

.overtitle-light {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-light);
}

.main-title-dark {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  /* color: var(--secondary-text-color-theme-dark); */
}

.main-title-light {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-light);
}

.description-dark {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}

.description-light {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}

/* ====== End components======= */
/* ====== Start Header======= */

.nav-list-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: var(--secondary-text-color-theme-dark); */
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.contact-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: var(--secondary-text-color-theme-dark); */
}

.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}
/* =======End Header======= */

/* =======Start Hero======= */
.basic-title-dark {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  /* color: var(--secondary-text-color-theme-dark); */
}

/* =======End Hero======= */

/* =======О Нас======= */

.explanation {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}

/* =======Секция Услуги и цены======= */

.description-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  /* text-align: right; */
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}

/* ========Секция Привелегии======== */

.number-achievements {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-light);
}

.achievements {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  /* text-align: center; */
  color: var(--secondary-text-color-theme-light);
}

/* =======Секция Наши Мастера======== */

.name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  /* text-align: center; */
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
}

.profession {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* =======Секция Контакты======== */

.twork-overtitle-dark {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-dark);
}

.contacts-links-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-dark);
}
