:root {
  --primary-font-family: Open Sans, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --primary-text-color-theme-dark: #9da4bd;
  --secondary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #555555;
  --secondary-text-color-theme-light: #303030;
  --overtitle-text-color-theme-dark: rgba(157, 164, 189, 0.6);
  --accent-color: #ff6c00;
}
